#root
{
    overflow: hidden;
    position: relative;
}
.baapu
{
    min-width: 100vw;
    min-height: 100vh;
    transition: background 1000ms ease-in-out;
}
.opacity
{
    /* background: #272829; */
    background: #2C3333;
}
.opacity1
{
    background: rgba(20, 20, 20, 0.042);
}
.Playerid
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 21vw;
    height: 28vh;
    padding: 10px;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2vw;
    transition: transform 330ms ease-in-out,background 1000ms ease-in-out,color 1000ms ease-in-out;
}
.white
{
    background: #6c757d;
    color: white;
}
.green
{
    background: #2bbb77;
    color: white;
}
.play
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.hulla
{
    padding: 20px;
    font-size: 40px;
}
.introtext
{
    font-size: 70px;
    color: white;
}
.baapu
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow: hidden;
}
.instructions
{
    display: flex;
    font-size: 3vw;
    width:17vw;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 330ms ease-in-out,background 1000ms ease-in-out,color 1000ms ease-in-out;
}
.Playerid:hover
{
    transform: scale(1.1);
}
.instructions:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#carouselExample
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transition: transform 1000ms ease-in-out;
}
.animatedc
{
    transform: translate(-50%,-50%);
}
.hatja
{
    transform: translate(-50%, -500%);
}
.form-control
{
    transition: background 800ms ease-in-out;
    border: 0px;
}
.video
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.video video
{
    overflow: hidden;
}
.cross
{
    position: absolute;
    top: -131px;
    right: 202px;
    transition: opacity 1000ms ease-in-out;
}
.cross img
{
    height: 70px;
}
.cross:hover
{
    cursor: pointer;
}
/* .carousel-control-prev,
.carousel-control-next{
      bottom: 75%;
} */
.alert
{
    position:absolute;
    color: white;
    height: 70px;
    width: 80vw;
    text-align: center;
    margin: auto;
    font-size: larger;
    background-color: #001C30;
    transition: opacity 700ms ease-in-out;
}
.parent
{
    width: 100vw;
    height: 80px;
    position:absolute;
    display: flex;
    justify-content: center;
}
.para
{
    display: inline;
    color: #22A699;
    font-weight: bold;
}
.opc1
{
    opacity: 1;
}
.opc2{
    opacity: 0;
}